#results-wrap {

  @include breakpoint(medium) {
    width: 92%;
  }

  .tabs {
    background-color: transparent;
  }

  .tabs-title a {
    font-size: .875rem;
    font-weight: 700;
  }

  li {
    width: 20%;
    border-top: 0;

    a {
      color: $grey-1;
      height: 4rem;
    }
  }
}