$map-footer-btm-m: 8rem; // keep same height as height to remove from map --> $map-btm-off-m in '_anhalt_map.scss'
$map-footer-btm-s: 6.5rem; // keep same height as height to remove from map --> $map-btm-off-s in '_anhalt_map.scss'

footer.map-footer {
  height: $map-footer-btm-s;
  padding: 0;
  width: 100%;
  text-align: right;

  @include breakpoint(medium) {
    height: $map-footer-btm-m;
  }

  ul {
    @include breakpoint(small only) {
      width: 100%;
      text-align: center;
    }
  }

  ul.map-footer__legal {
    display: inline-block;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }

    li {

      @include breakpoint(medium) {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }

    a {

      @include breakpoint(medium) {
        line-height: 8rem;
      }
    }
  }

  ul.map-footer__logo {
    display: inline-block;

    li {
      margin-top: 0.5rem;

      .map-footer__logo-eaa {
        height: 2.5rem;
  
        @include breakpoint(medium) {
          height: 3.9rem;
          margin-top: 1.8rem;
        }
      }

      .map-footer__logo-rli {
        height: 2rem;
  
        @include breakpoint(medium) {
          height: 3.2rem;
          margin-top: 1.5rem;
        }
      }

      .map-footer__logo-kopernikus {
        height: 2.5rem;
  
        @include breakpoint(medium) {
          height: 4rem;
          margin-top: .5rem;
        }
      }

      .map-footer__logo-bmbf {
        height: 3rem;
  
        @include breakpoint(medium) {
          height: 6rem;
          margin-right: .5rem;
        }
      }
    }
  }
}

.map-footer #footer--hide {

  &__icon {
    color: $color-1;
    cursor: pointer;
  }
}