$canvas-top-off-s: 2rem; // same as $top-bar-height-s in '_anhalt_navigation.scss'
$canvas-top-off-m: 2.5rem; // same as $top-bar-height-m in '_anhalt_navigation.scss'

.off-canvas-wrapper {
  height: calc(100% - #{$canvas-top-off-s});

  @include breakpoint(medium) {
    height: calc(100% - #{$canvas-top-off-m});
    top: $canvas-top-off-m;
  }

  .off-canvas {
    background-color: $grey-1;

    p {
      color: $color-1;
    }

    &.is-transition-overlap {
      z-index: 999999999;
    }
  }

  p {
    color: $grey-1;
  }

  .off-canvas.position-left {
    top: $canvas-top-off-s;
    height: calc(100% - #{$canvas-top-off-s});

    @include breakpoint(medium) {
      top: $canvas-top-off-m;
      height: calc(100% - #{$canvas-top-off-m});
    }
  }
}

// -------------------------------- Tabs -------------------------------------- //
.off-canvas .offcanvas-tabs__wrapper {
  @include breakpoint(medium) {
    width: 7.8125rem;
  }
}

.off-canvas-wrapper.off-canvas-wrapper--left {

  .off-canvas {
    background-color: $color-1;
  }

  .tabs {
    border: none;
  }

  .tabs-title.is-active a {
    background-color: $color-2;
  }

  li:first-child {
    border-top: 1px solid $grey-1;
  }

  li a {
    height: 3.125rem;
    padding-top: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $color-1;
    border-bottom: 1px solid $grey-1;
    text-align: left;
    transition: background-color 0.2s ease-in;

    @include breakpoint(medium) {
      height: 7.8rem;
      width: 7.8rem;
      padding-top: 1.8rem;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {
      background-color: darken($color-1, 8%);
    }

    img {
      height: 1.2rem;
      float: left;

      @include breakpoint(medium) {
        float: none;
      }
    }

    h2 {
      font-size: 1rem;
      font-weight: 700;
      color: $grey-1;
      padding-top: 0;
      margin-left: 1rem;
      float: left;

      @include breakpoint(medium) {
        float: none;
        padding-top: 0.8rem;
        margin-left: 0;
      }
    }
  }
}

// Tabs content
.off-canvas-wrapper .off-canvas {

  .tabs-content__wrapper {
    min-height: calc(100vh - #{$canvas-top-off-m});
    background-color: $grey-1;
  }

  .tabs-content {
    background-color: $grey-1;
    border: none;
  }
}

// Tabs icons
#tabs-icon {

  &--scenarios {
    height: 1.5rem;
  }

  &--energy {
    height: 1.875rem;
  }

  &--areas {
    height: 1.5rem;
  }

  &--results {
    height: 1.5rem;
  }
}

// -------------------------------- Content -------------------------------------- //
.panel__text {

  &--highlighted {
    background-color: $grey-2;
    padding: .5rem;
  }
}

#panel-energy-system {
  padding-top: 3rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;

  .accordion-title {
    height: 4rem;
  }

  .accordion-title--100 {
    width: 100%;
  }

  .accordion-item--no-border {
    border-top: none;
  }
}

.tabs-panel .accordion-item .accordion-title {
  padding-top: 1.5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: $grey-3;
  font-size: 1rem;
  font-weight: 400;
  color: $black;

  &:hover {
    background-color: darken($grey-3, 10%);
  }
}