$map-footer-btm: 6rem; // keep same height as height to remove from map --> $map-btm-off in '_anhalt_map.scss'

footer.map-footer {
  height: $map-footer-btm;
  padding: 0;
  width: 100%;
  text-align: right;

  ul.map-footer__legal {
    display: inline-block;
    padding-right: 3rem;

    li {
      margin-top: .5rem;

      @include breakpoint(medium) {
        margin-top: 2rem;
      }
    }
  }

  ul.map-footer__logo {
    display: inline-block;

    li {
      margin-top: 0.5rem;

      a img {
        height: 2.5rem;
  
        @include breakpoint(medium) {
          height: 4rem;
        }
      }
    }
  }
}