$canvas-top-off-s: 2rem; // same as $top-bar-height-s in '_anhalt_navigation.scss'
$canvas-top-off-m: 2.5rem; // same as $top-bar-height-m in '_anhalt_navigation.scss'
$map-btm-off: 2rem; // same as $map-content-info-btm in 'anhalt_map_footer.scss'


/* CONTENT INSIDE CANVAS START */
.off-canvas-wrapper {
  height: calc(100% - #{$canvas-top-off-s});

  @include breakpoint(medium) {
    height: calc(100% - #{$canvas-top-off-m});
  }
  

  .off-canvas {
    background-color: $grey-1;

    p {
      color: $color-1;
    }

    &.is-transition-overlap {
    z-index: 999999999;
    }
  }

  p {
    color: $grey-1;
  }

  .off-canvas.position-left {
    top: $canvas-top-off-s;
    height: calc(100% - #{$canvas-top-off-s});

    @include breakpoint(medium) {
      top: $canvas-top-off-m;
      height: calc(100% - #{$canvas-top-off-m});
    }
  }
}

// Tabs
.off-canvas-wrapper .off-canvas {

  .grid-container {
    padding: 0;

    .tabs-content {
      background-color: $grey-1;
      border: none;
    }
  }
}

/* CONTENT INSIDE CANVAS END */

/* CONTENT OUTSIDE CANVAS START */
.off-canvas-content {
  height: 100%;

  .map-wrapper {
    width: 100%;
    height: 100%;

    button {
      position: absolute;
      z-index: 999999;
    }

    #mapid { 
      height: calc(100% - #{$map-btm-off});
    }
  }
}
/* CONTENT OUTSIDE CANVAS END */