.tabs-btn {

  ul {
    width: 100%;
    list-style: none;
    margin: 0;

    li {
      width: 100%;

      @include breakpoint(medium) {
        float: left;
        width: 50%;
      }
    }
  }

  button, button:focus {
    background-color: $white;
    color: $color-2;
    font-weight: 700;
    border: 1px solid $color-2;
    
    &:hover {
      background-color: $color-2;
      color: $white;
    }
  }
  
  .active {
    background-color: $color-2;
    color: $white;
    font-weight: 700;
  
    &:hover, &:active, &:visited, &:focus {
      background-color: $color-2;
      color: $white;
      cursor: default;
    }
  }
}
  
button[type="button"].tabs-btn--left {
  width: 100%;
  border-radius: 100px;

  @include breakpoint(medium) {
    border-radius: 100px 0 0 100px;
  }
}

button[type="button"].tabs-btn--right {
  width: 100%;
  border-radius: 99px;

  @include breakpoint(medium) {
    border-radius: 0 100px 100px 0;
  }
} 

/* --------------------------------------- tabs in offcanvas ---------------------------------------- */
#scenarios-wrap,
#results-wrap {

  margin-top: 1.55rem;

  .tabs {
    background-color: transparent;
  }

  .tabs-title a {
    font-size: .875rem;
    font-weight: 700;
  }

  .tabs-title.is-active a {
    background-color: $color-2!important;
    color: $grey-1!important;
  }

  ul li:first-child a {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  ul li:last-child a {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  li {
    border-top: 0;
    letter-spacing: .5px;

    a {
      color: $grey-1;
      height: 3.5rem;
    }
  }
}

#scenarios-wrap li {
  width: 50%;
}

#results-wrap li {
  width: 20%;
}