.u-vh--100 {
    height: 100vh;
}

.u-text--center {
    text-align: center;
}

.u-text--right {
    text-align: right;
}

.u-text--left {
    text-align: left;
}

.u-block--center {
    margin: 0 auto;
}

.u-inline-block {
    display: inline-block;
}

.u-no-margin {
    margin: 0;
}

.u-no-padding {
    padding: 0!important;
}

.u-padding-bottom {
    padding-bottom: 1rem;
}

.u-padding-top {
    padding-top: 1rem;
}

.u-position-fixed {
    position: fixed;
}

.u-padding-bt-xl {
    padding-bottom: 4rem;
}