.button {
    width: $button-width;
}

.cta:link, .cta:visited {

    color: $black!important;
    background-color: $color-sec-2!important;
    box-shadow: 3px 5px 15px (0, 0, 0, .2);
    transition: all 2sec;

    &:hover {
        background-color: scale-color($color-sec-2, $lightness: -15%)!important;
        box-shadow: 1px 10px 8px $black;
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 3px 5px 15px $black;
    }
}

.btn {
    &-outline {
        border: 1px solid $grey-1 !important;
        background-color: transparent !important;

        &:hover {
            background-color: scale-color($color-1, $lightness: -25%)!important;
            border: 1px solid scale-color($color-1, $lightness: -25%) !important;
        }
    }
}
