.button {
    width: $button-width;
}

.cta {
    color: $black!important;
    background-color: $color-sec-2!important;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &:hover {
        color: $black!important;
        background-color: scale-color($color-sec-2, $lightness: -15%)!important;
    }
}

.btn {
    &-outline {
        border: 1px solid $grey-1 !important;
        background-color: transparent !important;
        transition: border .2s ease-in;

        &:hover {
            background-color: scale-color($color-1, $lightness: -25%)!important;
            border: 1px solid scale-color($grey-1, $lightness: -25%) !important;
        }
    }

    &-text {
        font-weight: 400;
    }
}