#footer-links {
    a {
        color: $grey-2!important;
    }
    a:hover, a:active {
        color: scale-color($grey-2, $lightness: -15%)!important;
    }
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;

    ul {
        li {
            display:inline-block;
            margin: .5rem;
            font-size: 12px;

            @include breakpoint(large) {
                margin: 1rem;
                font-size: 16px;
            }
        }
    }
}