#footer-links {
    a {
        color: $color-1!important;
    }
    a:hover, a:active {
        color: scale-color($color-1, $lightness: -25%)!important;
    }
}

footer {
    background-color: $grey-1;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 1rem;

    ul {
        li {
            display:inline-block;
            margin: .5rem;
            font-size: 12px;

            @include breakpoint(large) {
                margin: 1rem;
                font-size: 16px;
            }
        }
    }
}