.hp-wrapper {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    
    @include breakpoint(large) {
        width: 50rem;
        top: 25%;
    }
}


.hp {
    &-header {
        color: $grey-1;
    }
    &-subheader {
        color: $grey-1;
        font-weight: $global-weight-light;
        opacity: .7;
        margin-bottom: 2rem;
        font-size: 1.15rem;

        @include breakpoint(large) {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }
    }
}

#hp-logo-rli {

    width: 5rem;
    padding-top: 1rem;
    margin-right: 1rem;

    @include breakpoint(large) {
        width: 6rem;
        padding-top: 2rem;
    }
}

#hp-logo-bmbf {

    width: 6rem;
    margin-left: 1rem;

    @include breakpoint(large) {
        width: 9rem;
    }
}