.hp-wrapper {
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    
    @include breakpoint(large) {
        width: 50rem;
        top: 30%;
    }
}


.hp {
    &-header {
        color: $grey-1;
    }
    &-subheader {
        color: $grey-1;
        font-weight: $global-weight-light;
        opacity: .7;
        margin-bottom: 2rem;

        @include breakpoint(large) {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }
    }
}

.hp-logo {

    img {
        width: 6rem;

        @include breakpoint(large) {
            width: 9rem;
        }
    }
}

.hp-register {
    a:link {
        color: $grey-1;
    }
    a:hover, a:active {
        color: scale-color($grey-1, $lightness: -15%);
    }
}