.scenario__wrapper {
    margin-top: 15%;

    @include breakpoint(medium) {
        margin-top: 15%;
    }
}

.scenario__question {
    
    h2 {
        color: #6A8DA6;
        font-weight: 300;
        font-size: 1.4rem;

        @include breakpoint(large) {
            font-size: 2rem;
        }
    }
}

.scenario__icon {

    padding-top: 2rem;

    @include breakpoint(medium) {
        padding-top: 6rem;
    }

    &-circle {
        width: 6rem;
        height: 6rem;
        padding: 1.3rem;
        background-color: $color-sec-2;
        border-radius: 100px;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;

        &:hover {
            background-color: scale-color($color-sec-2, $lightness: -15%)!important;
        }

        @include breakpoint(large) {
            width: 8rem;
            height: 8rem;
            padding: 1.8rem;
        }
    }

    img {
        height: 3rem;

        @include breakpoint(large) {
            height: 4rem;;
        }
    }

    &-label p {
        font-weight: 400!important;
        padding-top: .5rem;
        letter-spacing: .5px;
    }
}
