.scen-create {

  &__info {
    height: 9rem;
    padding: 1rem;

    @include breakpoint(medium) {
      height: 10rem;
      padding: 1.5rem;
    }

    @include breakpoint(large) {
      padding: 2rem;
      position: fixed;
      top: 0;
      height: calc(100vh + 40px);
      z-index: -1;
    }
  }

  &__description {
    color: $grey-1;

    @include breakpoint(large) {
      margin-top: 7rem;
    }
  }

  &__icon {
    display: inline-block;

    @include breakpoint(large) {
      display: block;
    }
  }

  &__icon img {
    width: 2rem;
    margin-right: 1rem;
    vertical-align: -.5rem;

    @include breakpoint(large) {
      width: 4rem;
      margin: 1.5rem;
    }
  }

  &__header {
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    letter-spacing: 1px;

    @include breakpoint(medium) {
      font-size: 1.2rem;
    }

    @include breakpoint(large) {
      display: block;
      font-size: 1.5rem;
    }
  }
}

.scen-create {

  &__wrapper {
    padding: 1rem;

    @include breakpoint(medium) {
      padding: 1.5rem;
    }

    @include breakpoint(large) {
      margin-top: 3rem;
      padding: 2rem;
    }
  }

  &__btn {
    bottom: 0;
    margin-top: 1rem;
    margin-bottom: .5rem;
    position: fixed;
    z-index: -1;

    @include breakpoint(small only) {
      width: calc(100% - 32px) !important;
    }

    @include breakpoint(medium) {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    .btn-left, .btn-right {
      margin: 0 auto;

      a {
        width: 8rem;

        @include breakpoint(medium) {
          width: 10rem;
        }
      }
    }

    @include breakpoint(medium) {
      .btn-left {
        margin: 0 1rem 0 auto;
      }
  
      .btn-right {
        margin: 0 auto 0 1rem;
      }
    }
  }
}
