.steps-info {

  &__wrapper {
    height: 9rem;
    padding: 1rem;

    @include breakpoint(medium) {
      height: 10rem;
      padding: 1.5rem;
    }

    @include breakpoint(large) {
      padding: 2rem;
      position: fixed;
      top: 0;
      height: calc(100vh + 40px);
      z-index: -1;
    }
  }

  &__description {
    color: $grey-1;

    @include breakpoint(large) {
      margin-top: 7rem;
    }
  }

  &__icon {
    display: inline-block;

    @include breakpoint(large) {
      display: block;
    }
  }

  &__icon img {
    width: 2rem;
    margin-right: 1rem;
    vertical-align: -.5rem;

    @include breakpoint(large) {
      width: 4rem;
      margin: 1.5rem;
    }
  }

  &__header {
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    letter-spacing: 1px;

    @include breakpoint(medium) {
      font-size: 1.2rem;
    }

    @include breakpoint(large) {
      display: block;
      font-size: 1.5rem;
    }
  }
}

.steps-tasks {

  &__wrapper {
    padding: 1rem;

    @include breakpoint(medium) {
      padding: 1.5rem;
    }

    @include breakpoint(large) {
      margin-top: 3rem;
      padding: 2rem;
    }
  }
}

.steps-btn {
  position: relative;
  bottom: 3rem;
}

// WIZARD
$wizard-circular-color: $color-sec-2;
$wizard-circular-border-thickness: 2px;

.wizard {
  margin-top: 2rem;

  @include breakpoint(large) {
    margin-top: 3rem;
  }

  li {
    display: inline-block;
    color: $grey-1;
    width: 2.2rem;
    font-size: 14px;

    @include breakpoint(medium) {
      width: 2.7rem;
      font-size: 18px;
    }
  }
}

.wizard-circular li.current {
  border: $wizard-circular-border-thickness solid $wizard-circular-color;
  border-radius: 5000px;
  padding: 0.285em 0.8em;
}

