a {
    font-weight: 700;
}

p {
    font-weight: 300;
}

.l-bg-color {

    p {
        color: $grey-1;
    }

    a:link {
        color: $grey-1;

        &:hover, &:active {
            color: scale-color($grey-1, $lightness: -25%)!important;
        }
    }
}

.light-bg {

    p {
        color: $color-1;
    }

    a {
        color: $color-1;

        &:hover, &:active {
            color: scale-color($color-1, $lightness: -25%)!important;
        }
    }
}