// WIZARD START 
$wizard-circular-color: $color-sec-2;
$wizard-circular-border-thickness: 2px;

.wizard {
  margin-top: 2rem;

  @include breakpoint(large) {
    margin-top: 3rem;
  }

  li {
    display: inline-block;
    color: $grey-1;
    width: 2.2rem;
    font-size: 14px;

    @include breakpoint(medium) {
      width: 2.7rem;
      font-size: 18px;
    }
  }
}

.wizard-circular li.current {
  border: $wizard-circular-border-thickness solid $wizard-circular-color;
  border-radius: 5000px;
  padding: 0.285em 0.8em;
}
// WIZARD END