$progress-bar-grey: $grey-1;
$progress-bar-text-grey: $grey-2;

$progress-on: $color-sec-2;

$progress-done: $color-1;

.progress-bg {
  background-color: $color-2;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#progressbar-wrap {
  z-index: 5;
}

.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 1rem;
  position: relative;
  text-align: center;
  color: $progress-bar-text-grey;
  font-weight: $global-weight-normal;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid $progress-bar-grey;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: $progress-bar-grey;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: $progress-bar-grey;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.done {
  color: $progress-done;
}
.progressbar li.done:before {
  border-color: $progress-done;
}
.progressbar li.done + li:after {
  background-color: $progress-done;
}
.progressbar li.active {
  color: $progress-on;
}
.progressbar li.active:before {
  border-color: $progress-on;
}
